@import url('./reset_styles.css');
@import url('./variables.css');
/* ================================================ */

/* ================================================ */

body {
    background-color: var(-light-color);
    font-family: var(--font-fam);
}

.container {
    max-width: 900px;
    margin: calc(var(--space-unit) * 5) auto 0;
}

.home-layout {
    display: grid;
    grid-template-columns: 3fr 9fr; /*2 columns*/
    column-gap: calc(var(--space-unit) * 4);
}


.home-layout .home-layout-header {
    padding-top: 3rem;
    position: sticky;
    top: 0;
    /*background-color: #cae8ca;*/
    height: 16rem;
}

.home-layout .home-layout-main {
    height: 100%;
}

#profile-box {
    background-image: var(--main-gradient);
    color: var(--white);
    padding-top: 50px;
    position: relative;
}




.box {
    border-radius: var(--radius);
    padding: calc(var(--space-unit) * 2);
    background-color: var(--white);
    box-shadow: 2px 4px 8px lightgray;
}

.box~.box {
    margin-top: calc(var(--space-unit) * 3);
}

#profile-box > img {
    max-width: 75px;
    border-radius: 100;
    position: absolute;
    left: calc(50% - 37px);
    top: -37px;
}


.card {
    border-radius: 1rem;
    box-shadow: 2px 4px 8px lightgrey;
    padding: 1rem;
    margin-bottom: 1rem;
}
.card h1 {
    font-size: 1rem;
}

.btn-add {
    position: fixed;
    background: #007eff;
    color: white;
    font-weight: bolder;
    bottom: 20px;
    right: 20px;
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 10000;
    cursor: pointer;
}